In [1]:
import pandas as pd

In [2]:
orange = pd.read_csv('orange_cap.csv')
purple = pd.read_csv('purple_cap.csv')

In [3]:
orange

,Position,Batsman,Team,Matches,Innings,Not_out,Runs,Highest_score,Average,Balls_faced,Strike_rate,Hundreds,Fifties,Ducks,Fours,Sixes
0,1,Sai Sudharsan,GT,15,15,1,759,108,54.21,486,156.17,1,6,0,88,21
1,2,Suryakumar Yadav,MI,16,16,5,717,73,65.18,427,167.91,0,5,0,69,38
2,3,Virat Kohli,RCB,15,15,3,657,73,54.75,454,144.71,0,8,0,66,19
3,4,Shubman Gill,GT,15,15,2,650,93,50.00,417,155.87,0,6,0,62,24
4,5,Mitchell Marsh,LSG,13,13,0,627,117,48.23,383,163.70,1,6,2,56,37
5,6,Shreyas Iyer,PBKS,17,17,5,604,97,50.33,345,175.07,0,6,1,43,39
6,7,Yashasvi Jaiswal,RR,14,14,1,559,75,43.00,350,159.71,0,6,0,60,28
7,8,Prabhsimran Singh,PBKS,17,17,0,549,91,32.29,342,160.52,0,4,1,56,30
8,9,KL Rahul,DC,13,13,3,539,112,53.90,360,149.72,1,3,0,52,21
9,10,Jos Buttler,GT,14,13,4,538,97,59.77,330,163.03,0,5,1,52,24
10,11,Nicholas Pooran,LSG,14,14,2,524,87,43.66,267,196.25,0,5,0,45,40
11,12,Heinrich Klaasen,SRH,14,13,2,487,105,44.27,282,172.69,1,1,0,42,25
12,13,Priyansh Arya,PBKS,17,17,0,475,103,27.94,265,179.24,1,2,1,55,25
13,14,Aiden Markram,LSG,13,13,0,445,66,34.23,299,148.82,0,5,0,38,22
14,15,Abhishek Sharma,MI,14,13,0,439,141,33.76,227,193.39,1,2,1,46,28

In [4]:
purple.head()

,Position,Bowler,Team,Matches,Innings,Balls,Overs,Maidens,Runs,Wickets,Best_bowling_figure,Economy_rate,Four_wicket_haul,Five_wicket_hall
0,1,Prasidh Krishna,GT,15,15,354,59.0,0,488,25,4--41,8.27,1,0
1,2,Noor Ahmad,CSK,14,14,300,50.0,0,408,24,4--18,8.16,2,0
2,3,Josh Hazlewood,RCB,12,12,264,44.0,0,386,22,4--33,8.77,1,0
3,4,Trent Boult,MI,16,16,346,57.4,0,517,22,4--26,8.96,1,0
4,5,Arshdeep Singh,PBKS,17,16,350,58.2,1,518,21,3--16,8.88,0,0

In [5]:
orange_counts = orange['Batsman'].value_counts()

In [6]:
orange_counts

Batsman
Sai Sudharsan        1
Suryakumar Yadav     1
Virat Kohli          1
Shubman Gill         1
Mitchell Marsh       1
Shreyas Iyer         1
Yashasvi Jaiswal     1
Prabhsimran Singh    1
KL Rahul             1
Jos Buttler          1
Nicholas Pooran      1
Heinrich Klaasen     1
Priyansh Arya        1
Aiden Markram        1
Abhishek Sharma      1
Name: count, dtype: int64

In [7]:
purple_counts = purple['Bowler'].value_counts()
purple_counts

Bowler
Prasidh Krishna       1
Noor Ahmad            1
Josh Hazlewood        1
Trent Boult           1
Arshdeep Singh        1
Sai Kishore           1
Jasprit Bumrah        1
Varun Chakravarthy    1
Krunal Pandya         1
Bhuvneshwar Kumar     1
Vaibhav Arora         1
Pat Cummins           1
Marco Jansen          1
Mohammed Siraj        1
Yuzvendra Chahal      1
Name: count, dtype: int64

## Which player appeared most frequently in Orange or Purple Cap lists?

In [8]:
combined = orange_counts.add(purple_counts, fill_value=0)
combined

Abhishek Sharma       1.0
Aiden Markram         1.0
Arshdeep Singh        1.0
Bhuvneshwar Kumar     1.0
Heinrich Klaasen      1.0
Jasprit Bumrah        1.0
Jos Buttler           1.0
Josh Hazlewood        1.0
KL Rahul              1.0
Krunal Pandya         1.0
Marco Jansen          1.0
Mitchell Marsh        1.0
Mohammed Siraj        1.0
Nicholas Pooran       1.0
Noor Ahmad            1.0
Pat Cummins           1.0
Prabhsimran Singh     1.0
Prasidh Krishna       1.0
Priyansh Arya         1.0
Sai Kishore           1.0
Sai Sudharsan         1.0
Shreyas Iyer          1.0
Shubman Gill          1.0
Suryakumar Yadav      1.0
Trent Boult           1.0
Vaibhav Arora         1.0
Varun Chakravarthy    1.0
Virat Kohli           1.0
Yashasvi Jaiswal      1.0
Yuzvendra Chahal      1.0
Name: count, dtype: float64

In [9]:
most_capped_players = combined.sort_values(ascending=False)
most_capped_players.head()

Abhishek Sharma       1.0
Aiden Markram         1.0
Yashasvi Jaiswal      1.0
Virat Kohli           1.0
Varun Chakravarthy    1.0
Name: count, dtype: float64

## Compare top batsmen vs top bowlers over seasons.

In [10]:
top_batsmen = orange.groupby('Highest_score')['Batsman'].value_counts().sort_index(ascending=False).head(5)
top_batsmen

Highest_score  Batsman
141            Abhishek Sharma     1
117            Mitchell Marsh      1
112            KL Rahul            1
108            Sai Sudharsan       1
105            Heinrich Klaasen    1
Name: count, dtype: int64

In [11]:
top_bowler = purple.groupby('Bowler')['Wickets'].value_counts().sort_values(ascending=False).head(5)

In [12]:
top_bowler

Bowler             Wickets
Arshdeep Singh     21         1
Bhuvneshwar Kumar  17         1
Jasprit Bumrah     18         1
Josh Hazlewood     22         1
Krunal Pandya      17         1
Name: count, dtype: int64